<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Homepage</title>
    <header class="title"> <h1>Terry's Toots</h1> </header>
     
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="/" class="men">Home</a></li>
                <li><a href="/animals" class="men">Animals</a></li>
                <li><a href="/shelter" class="men">Shelters</a></li>
                <li><a href="/animals/new" class="men">New</a></li>
                
            </ul>
        </nav>
    </header>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>